.title {
  color: white;
}
.linkedIn {
  font-size: 30px;
  padding-top: 35px;
  padding-left: 160px;
}
.mail {
  font-size: 30px;
  padding-left: 160px;
}
.Github {
  font-size: 30px;
  padding-left: 160px;
}
.Medium {
  font-size: 30px;
  padding-left: 160px;
}
